// ! Colors
$c-white: #ffffff;
$c-black: #454545;
$c-blue: #1e8df2;
$c-blue-light: #c8e4ff;
$c-blue-dark: #3794e9;
$c-yellow: #f9da4b;
$c-yellow-light: #fff8d8;

// ! FontSize
$fs-h1: 48px;
$fs-h2: 38px;
$fs-h3: 28px;
$fs-h4: 18px;
$fs-text: 14px;

// ! FontFamily
$ff-main: 'Inter', sans-serif;

// ! FontWeight
$fw-normal: 400;
$fw-bold: 700;
